
/*
/*
Theme Name: COACH Network
Description: Bespoke theme for COACH Network 
Author: Jordesign 
Author URI: http://www.jordesign.com 
Version: 1.0
*/
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:hover,a:active{outline:0}h1{font-size:2em;margin:0.67em 0}h2{font-size:1.5em;margin:0.83em 0}h3{font-size:1.17em;margin:1em
0}h4{font-size:1em;margin:1.33em 0}h5{font-size:0.83em;margin:1.67em 0}h6{font-size:0.75em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em
40px}dfn{font-style:italic}mark{background:#ff0;color:#000}p,pre{margin:1em
0}pre,code,kbd,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:75%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em
0}dd{margin:0
0 0 40px}menu,ol,ul{padding:0
0 0 40px}nav ul,
nav
ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px
solid #c0c0c0;margin:0
2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible}button[disabled],input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}body,input,textarea{}body,button,input,select,textarea{font-family:'Open Sans',Open Sans,Arial,sans-serif}h1.pageTitle{font-size:36px;color:#636363;margin:0
0 20px 0;line-height:38px;font-family:'Montserrat',Montserrat,'Open Sans',Open Sans,Arial,sans-serif}h1,h2{font-size:32px;color:#2aace2;margin:32px
0 8px 0;line-height:34px;font-family:'Montserrat',Montserrat,'Open Sans',Open Sans,Arial,sans-serif}h3{font-size:26px;color:#636363;margin:32px
0 10px;line-height:29px;font-family:'Montserrat',Montserrat,'Open Sans',Open Sans,Arial,sans-serif}h4{font-size:22px;color:#2aace2;margin:32px
0 10px 0;line-height:25px;font-family:'Montserrat',Montserrat,'Open Sans',Open Sans,Arial,sans-serif}h5{font-size:20px;color:#636363;margin:16px
0 0 0;line-height:25px;font-weight:bold;font-family:'Montserrat',Montserrat,'Open Sans',Open Sans,Arial,sans-serif}h6{font-size:18px;color:#2aace2;margin:16px
0 0 0;line-height:25px;font-weight:bold;font-family:'Montserrat',Montserrat,'Open Sans',Open Sans,Arial,sans-serif}.content h2:first-child,
.content h3:first-child,
.content h4:first-child{margin-top:0}p,td,li{font-size:15px;line-height:24px;color:#636363}p{margin:0
0 16px 0}blockquote
p{color:#2aace2;font-size:18px;line-height:22px;font-style:italic}a:link,a:visited{color:#2aace2;text-decoration:none;-webkit-transition:color .4s ease}a:hover{color:#636363;text-decoration:underline}img{max-width:100%;height:auto !important}iframe,object,embed{max-width:100%}a.button:link,
a.button:visited,
input.button,
.button a:link,
.button a:visited,
.nextPrevLinks a,span.button{height:36px;display:inline-block;background:#2aace2;text-align:center;padding:0
15px;color:#fff !important;font-size:18px;-webkit-transition:all .4s ease;line-height:36px;margin-right:10px;font-weight:600;border-radius:5px;font-family:'Montserrat',Montserrat,'Open Sans',Open Sans,Arial,sans-serif}a.button.fade{opacity: .8}input.button{border:none}a.button:hover,
input.button:hover,
a.button.fade:hover,
.button a:hover,
.nextPrevLinks a:hover{color:#fff !important;background-color:#333;text-decoration:none;opacity:1}#main
img{border:5px
solid #fff;-webkit-box-shadow:0px 0px 6px rgba(50, 50, 50, 0.5);-moz-box-shadow:0px 0px 5px rgba(50, 50, 50, 0.45);box-shadow:0px 0px 5px rgba(50, 50, 50, 0.45)}#content img.attachment-post-thumbnail{max-width:100%;border:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;margin:-10px 0 -5px}img.alignright{float:right;margin:0
0 10px 20px}img.alignleft{float:left;margin:0
20px 10px 0}*{box-sizing:border-box}.row{clear:both}.container{width:100%;margin-left:auto;margin-right:auto;margin-top:0;margin-bottom:0;max-width:62.5em;*zoom:1}.container:before,.container:after{content:" ";display:table}.container:after{clear:both}.container.collapse .column,
.container.collapse
.columns{position:relative;padding-left:0;padding-right:0;float:left}.container
.container{width:auto;margin-left:-0.9375em;margin-right:-0.9375em;margin-top:0;margin-bottom:0;max-width:none;*zoom:1}.container .container:before,
.container .container:after{content:" ";display:table}.container .container:after{clear:both}.container
.container.collapse{width:auto;margin:0;max-width:none;*zoom:1}.container .container.collapse:before,
.container .container.collapse:after{content:" ";display:table}.container .container.collapse:after{clear:both}.column,.columns{position:relative;padding-left:0.9375em;padding-right:0.9375em;width:100%;float:left;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}@media only
screen{.column,.columns{position:relative;padding-left:0.9375em;padding-right:0.9375em;float:left}.small-1{position:relative;width:8.33333%}.small-2{position:relative;width:16.66667%}.small-3{position:relative;width:25%}.small-4{position:relative;width:33.33333%}.small-5{position:relative;width:41.66667%}.small-6{position:relative;width:50%}.small-7{position:relative;width:58.33333%}.small-8{position:relative;width:66.66667%}.small-9{position:relative;width:75%}.small-10{position:relative;width:83.33333%}.small-11{position:relative;width:91.66667%}.small-12{position:relative;width:100%}.small-offset-0{position:relative;margin-left:0%}.small-offset-1{position:relative;margin-left:8.33333%}.small-offset-2{position:relative;margin-left:16.66667%}.small-offset-3{position:relative;margin-left:25%}.small-offset-4{position:relative;margin-left:33.33333%}.small-offset-5{position:relative;margin-left:41.66667%}.small-offset-6{position:relative;margin-left:50%}.small-offset-7{position:relative;margin-left:58.33333%}.small-offset-8{position:relative;margin-left:66.66667%}.small-offset-9{position:relative;margin-left:75%}.small-offset-10{position:relative;margin-left:83.33333%}[class*="column"]+[class*="column"]:last-child{float:right}[class*="column"]+[class*="column"].end{float:left}.column.small-centered,.columns.small-centered{position:relative;margin-left:auto;margin-right:auto;float:none !important}}@media only screen and (min-width: 480px){.medium-push-0{position:relative;left:0%;right:auto}.medium-pull-0{position:relative;right:0%;left:auto}.medium-push-1{position:relative;left:8.33333%;right:auto}.medium-pull-1{position:relative;right:8.33333%;left:auto}.medium-push-2{position:relative;left:16.66667%;right:auto}.medium-pull-2{position:relative;right:16.66667%;left:auto}.medium-push-3{position:relative;left:25%;right:auto}.medium-pull-3{position:relative;right:25%;left:auto}.medium-push-4{position:relative;left:33.33333%;right:auto}.medium-pull-4{position:relative;right:33.33333%;left:auto}.medium-push-5{position:relative;left:41.66667%;right:auto}.medium-pull-5{position:relative;right:41.66667%;left:auto}.medium-push-6{position:relative;left:50%;right:auto}.medium-pull-6{position:relative;right:50%;left:auto}.medium-push-7{position:relative;left:58.33333%;right:auto}.medium-pull-7{position:relative;right:58.33333%;left:auto}.medium-push-8{position:relative;left:66.66667%;right:auto}.medium-pull-8{position:relative;right:66.66667%;left:auto}.medium-push-9{position:relative;left:75%;right:auto}.medium-pull-9{position:relative;right:75%;left:auto}.medium-push-10{position:relative;left:83.33333%;right:auto}.medium-pull-10{position:relative;right:83.33333%;left:auto}.medium-push-11{position:relative;left:91.66667%;right:auto}.medium-pull-11{position:relative;right:91.66667%;left:auto}.column,.columns{position:relative;padding-left:0.9375em;padding-right:0.9375em;float:left}.medium-1{width:8.33333%}.medium-2{width:16.66667%}.medium-3{width:25%}.medium-4{width:33.33333%}.medium-5{width:41.66667%}.medium-6{width:50%}.medium-7{width:58.33333%}.medium-8{width:66.66667%}.medium-9{width:75%}.medium-10{width:83.33333%}.medium-11{width:91.66667%}.medium-12{width:100%}.medium-offset-0{margin-left:0% !important}.medium-offset-1{margin-left:8.33333% !important}.medium-offset-2{margin-left:16.66667% !important}.medium-offset-3{margin-left:25% !important}.medium-offset-4{margin-left:33.33333% !important}.medium-offset-5{margin-left:41.66667% !important}.medium-offset-6{margin-left:50% !important}.medium-offset-7{margin-left:58.33333% !important}.medium-offset-8{margin-left:66.66667% !important}.medium-offset-9{margin-left:75% !important}.medium-offset-10{margin-left:83.33333% !important}.medium-offset-11{margin-left:91.66667% !important}.medium-reset-order{margin-left:0;margin-right:0;left:auto;right:auto;float:left}.column.medium-centered,.columns.medium-centered{margin-left:auto;margin-right:auto;float:none}.column.medium-uncentered,.columns.medium-uncentered{margin-left:0;margin-right:0;float:left}.column.medium-centered:last-child,.columns.medium-centered:last-child{float:none}.column.medium-uncentered:last-child,.columns.medium-uncentered:last-child{float:left}.column.medium-uncentered.opposite,.columns.medium-uncentered.opposite{float:right}}@media only screen and (min-width: 760px){.large-1{position:relative;width:8.33333%}.large-2{position:relative;width:16.66667%}.large-3{position:relative;width:25%}.large-4{position:relative;width:33.33333%}.large-5{position:relative;width:41.66667%}.large-6{position:relative;width:50%}.large-7{position:relative;width:58.33333%}.large-8{position:relative;width:66.66667%}.large-9{position:relative;width:75%}.large-10{position:relative;width:83.33333%}.large-11{position:relative;width:91.66667%}.large-12{position:relative;width:100%}.container .large-offset-0{position:relative;margin-left:0%}.container .large-offset-1{position:relative;margin-left:8.33333%}.container .large-offset-2{position:relative;margin-left:16.66667%}.container .large-offset-3{position:relative;margin-left:25%}.container .large-offset-4{position:relative;margin-left:33.33333%}.container .large-offset-5{position:relative;margin-left:41.66667%}.container .large-offset-6{position:relative;margin-left:50%}.container .large-offset-7{position:relative;margin-left:58.33333%}.container .large-offset-8{position:relative;margin-left:66.66667%}.container .large-offset-9{position:relative;margin-left:75%}.container .large-offset-10{position:relative;margin-left:83.33333%}.container .large-offset-11{position:relative;margin-left:91.66667%}.push-1{position:relative;left:8.33333%;right:auto}.pull-1{position:relative;right:8.33333%;left:auto}.push-2{position:relative;left:16.66667%;right:auto}.pull-2{position:relative;right:16.66667%;left:auto}.push-3{position:relative;left:25%;right:auto}.pull-3{position:relative;right:25%;left:auto}.push-4{position:relative;left:33.33333%;right:auto}.pull-4{position:relative;right:33.33333%;left:auto}.push-5{position:relative;left:41.66667%;right:auto}.pull-5{position:relative;right:41.66667%;left:auto}.push-6{position:relative;left:50%;right:auto}.pull-6{position:relative;right:50%;left:auto}.push-7{position:relative;left:58.33333%;right:auto}.pull-7{position:relative;right:58.33333%;left:auto}.push-8{position:relative;left:66.66667%;right:auto}.pull-8{position:relative;right:66.66667%;left:auto}.push-9{position:relative;left:75%;right:auto}.pull-9{position:relative;right:75%;left:auto}.push-10{position:relative;left:83.33333%;right:auto}.pull-10{position:relative;right:83.33333%;left:auto}.push-11{position:relative;left:91.66667%;right:auto}.pull-11{position:relative;right:91.66667%;left:auto}.column.large-centered,.columns.large-centered{position:relative;margin-left:auto;margin-right:auto;float:none !important}.column.large-uncentered,.columns.large-uncentered{margin-left:0;margin-right:0;float:left !important}.column.large-uncentered.opposite,.columns.large-uncentered.opposite{float:right !important}}body{overflow-x:hidden}#wrapper{position:relative;-webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;-ms-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;transition:all 0.3s ease-out;margin:0
auto}#wrapper.active{left:90%}.menu-link:link,.menu-link:visited,a.menu-link:hover{position:absolute;top:22px;right:10px;padding:6px
10px 6px 10px;border-radius:5px;background:#2aace2;color:#fff;text-decoration:none;font-size:16px;text-transform:uppercase;font-weight:normal;border:none}.menu-link
i{margin-right:5px}#mainNav{background:#2aace2;clear:both;position:relative;z-index:10;padding:0}.js #mainNav.slide-in{width:90%;height:100%;position:absolute;top:0;left:-90%}.js #mainNav.slide-down{display:none}#mainNav
ul{margin:0;padding:0;list-style:none}#mainNav
li{border-bottom:1px solid #1b92c3;background:#2aace2;position:relative}#mainNav li
i{position:absolute;top:0;bottom:0;right:0;width:40px;display:block;text-align:center;line-height:40px;background:#1c9cd1;height:40px;cursor:pointer;color:#fff}#mainNav li
a{padding:12px
15px;color:#fff;font-size:16px;line-height:16px;display:block;text-decoration:none}#mainNav li
li{background:#1c9cd1;border-bottom:1px solid #1b92c3}#mainNav li li:last-child{border-bottom:none}#mainNav li li
a{padding:10px;text-decoration:none}#mainNav ul
ul{-webkit-transition:max-height 0.4s ease;max-height:0;overflow:hidden}#mainNav ul
ul.expand{max-height:500px}.content em b a,
.content a b em,
.content a em
b{display:block;float:left;background:#2aace2;border-radius:5px;margin:0
5% 5% 0;color:#fff;font-weight:normal;font-style:normal;font-family:'Montserrat',Montserrat,'Open Sans',Open Sans,Arial,sans-serif;padding:10px;width:45%;text-align:center;transition:background .4s ease}.content em b a:hover,
.content a b em:hover,
.content a em b:hover{background:#636363;text-decoration:none}@media only screen and (min-width: 620px){#wrapper.active{left:40%}.js #mainNav.slide-in{width:40%;left:-40%}}/*/*/@media only screen and (min-width: 760px){/**/a.menu-link{display:none}.js #mainNav.slide-in,
.js #mainNav.slide-down,#mainNav.slide-in,#mainNav.slide-down{max-width:none;position:relative;width:67%;height:auto;float:right;padding-right:10px;clear:none;-webkit-transition:none !important;background:none;padding-top:40px;display:block;text-align:right}#mainNav ul ul,
#mainNav ul
i{display:none}#mainNav
li{border:none;background:none;display:inline-block;position:relative;width:auto}#mainNav li a:link,
#mainNav li a:visited{color:#2aace2;font-family:'Montserrat',Montserrat,'Open Sans',Open Sans,Arial,sans-serif;font-weight:bold;font-size:16px;line-height:16px;display:block;text-decoration:none;margin:0
5px 0;padding:7px
8px;transition:color .3s ease;font-weight:normal}#mainNav li a:hover,
#mainNav li:hover
a{color:#636363}#mainNav ul
ul{position:absolute;top:30px;left:0;background:#636363;max-height:1000px;width:180px;text-align:left;z-index:10}#mainNav ul ul
li{background:none;display:block;border-bottom:none}#mainNav ul ul li a:link,
#mainNav ul ul li a:visited{padding:10px
10px !important;border-bottom:1px solid #4c4c4c;margin:0;-webkit-border-radius:0;border-radius:0;color:#fff;font-size:16px;font-family:'Open Sans',Open Sans,Arial,sans-serif;text-transform:none}#mainNav ul ul li a:hover,
#mainNav li.has-subnav:hover li a:hover{padding-bottom:10px;background:#4c4c4c}#mainNav ul li:hover
ul{display:block}#mainNav .menu-top-menu-container{position:absolute;top:8px;right:20px}#mainNav .menu-top-menu-container ul li
a{font-size:14px;color:#636363}#mainNav .menu-top-menu-container li.supportUs
a{background:#2aace2;display:inline-block;padding:5px
10px;color:#fff;border-radius:5px;transition:all .4s ease}#mainNav .menu-top-menu-container li.supportUs a:hover{background:#636363}#mainNav .menu-top-menu-container li.locations a:before{content:"\f041";font-family:FontAwesome;margin-right:4px;color:#2aace2}#mainNav .menu-top-menu-container li.locations a:hover{color:#111;text-decoration:underline}.content em b a,
.content a b em,
.content a em
b{width:20%}}/*/*/@media only screen and (min-width: 900px){#mainNav li a:link,
#mainNav li a:visited{font-size:17px}}/*/*/@media only screen and (min-width: 1000px){.js #mainNav.slide-in,
.js #mainNav.slide-down,#mainNav.slide-in,#mainNav.slide-down{width:77%;padding-top:50px}#mainNav .menu-top-menu-container{top:15px}#mainNav li a:link,
#mainNav li a:visited{font-size:17px;margin:0
8px}.main p,
.homeSecondary
p{font-size:18px;line-height:28px}}/*/*/@media only screen and (min-width: 1200px){#mainNav li a:link,
#mainNav li a:visited{font-size:19px;margin:0
10px}}/*/*//**/ .eo-events-widget{margin:0
0 20px 0;padding-left:0px;list-style:none}.eo-events-widget
li{margin-bottom:10px;font-size:13px;color:#999}.eo-events-widget li
a{display:block;font-size:16px;margin-bottom:-3px}body{padding:0;margin:0;background:#f1f1f1}*{box-sizing:border-box}.header{background:#fff;position:relative}.header h1,
.header
h5{margin:10px
0;padding:0
25px 0 15px;max-width:223px}.header h1 a,
.header h5
a{display:block}.row.footer{background:#fff;text-align:center;width:100%;float:left;padding:15px
0}.row.footer
img{max-width:100%;margin-bottom:15px;display:block}.row.footer
.footerVision{font-family:'Montserrat',Montserrat,'Open Sans',Open Sans,Arial,sans-serif}.row.footer .footerCopyright
p{font-size:12px;line-height:15px}.row.footer .footerCopyright
img{margin:0
auto 25px;display:block;max-width:345px}.homeIntro{text-align:center;background:#2aace2}.homeIntro
h2{margin:15px;color:#fff;font-size:21px;line-height:26px}.homeIntro
.introCTAs{margin:15px;text-align:center}.homeIntro .introCTAs
a.button{font-family:'Montserrat',Montserrat,'Open Sans',Open Sans,Arial,sans-serif;font-weight:bold;text-transform:uppercase;line-height:20px;padding:10px
20px;display:inline-block;border:2px
solid #fff;border-radius:10px;font-size:18px;margin:0
15px 15px;position:relative;overflow:hidden;height:auto;background:none}.homeIntro .introCTAs a.button:after{content:'';display:block;position:absolute;left:50%;top:50%;transition:all .5s ease;background:#fff;border-radius:50%;width:0px;height:0px;opacity:0;z-index:10}.homeIntro .introCTAs a.button:hover{color:#25aae1 !important;background:none}.homeIntro .introCTAs a.button:hover:after{opacity:1;width:300px;height:300px;margin-left:-100px;margin-top:-100px}.homeIntro .introCTAs
span{position:relative;z-index:20;display:inline-block}.homeIntro
iframe{display:block}.homeNews
h3{margin-top:0;font-size:30px;line-height:32px;margin-bottom:15px}.homeNews
h4{font-size:24px}.homeNews
.post{margin-bottom:50px}.homeFB
iframe{width:100% !important}.innerHeader{background:#2aace2;padding:15px
10px 10px;text-align:center}.innerHeader
ul{list-style:none;margin:0;padding:0}.innerHeader .flex-control-nav,
.innerHeader .flex-direction-nav{display:none}.innerHeader
img{display:block}.innerHeader
h1{color:#fff;margin:0
0 15px 0}.main{padding:15px
0 }.resourceLogin
label{display:block;text-transform:uppercase;color:#999}.resourceList{padding:10px
15px;width:100%;float:left}.resourceList
.resource{width:100%;border-bottom:1px solid #ddd;padding-bottom:20px;margin-bottom:20px}.resourceList .resource
h2{font-size:21px;line-height:24px;margin-bottom:0}.resourceList .resource
p{color:#666;font-size:15px}.resourceList .resource p
a{color:#666}.resourceList .resource p
.button{font-size:18px}.single-resource{padding-top:50px;padding-bottom:50px;float:left;width:100%}/*/*//**/@media only screen and (min-width: 600px){.homeIntro
h2{font-size:42px;line-height:48px}.resourceList
.resource{float:left;width:100%}.resourceList .resource
.resourceTitle{float:left;width:50%}.resourceList .resource
p{margin-bottom:0}.resourceList .resource
a.button{float:right}}/*/*//**/@media only screen and (min-width: 760px){.header h1,
.header
h5{margin-right:0;float:left}.homeSecondary{padding:25px
15px}.footerCopyright{text-align:left}.footerCopyright
img{float:left;margin-bottom:10px}.footerCopyright
p{clear:left}.footerVision{text-align:right}.footerVision
p{font-size:24px;line-height:28px}.content .post,
.content .page,
.resourceLogin,
.content
.resourceList{padding-top:35px;padding-bottom:20px;width:90%;margin:0
auto;max-width:760px;float:none}.innerHeader .slideshow
ul{max-width:760px;float:none;margin:0
auto;background:#fff;width:90%}.innerHeader{padding-top:40px;padding-bottom:40px}.innerHeader
h1{font-size:48px;line-height:54px}.main.hasSlideshow{background:#f1f1f1;margin-top:-90px;padding-top:50px}.homeIntro{padding:15px
15px 0;background:#2aace2 url(/wp-content/themes/coachNetwork/images/homeIntro.jpg) no-repeat 0 0;background-size:cover}.homeIntro
.introVideo{margin:0
auto;max-width:760px;width:90%}.homeSecondary{margin-top:-80px;padding-top:110px;background:#f1f1f1}.homeSecondary
.container{margin:0
auto;max-width:760px;width:90%}}/*/*//**/@media only screen and (min-width: 1000px){.header .container,
.footer
.container{max-width:100%}.footerVision
p{font-size:24px;line-height:28px;padding-top:20px;max-width:490px;float:right}}.flexslider{margin:0;padding:0}.flexslider .slides>li{display:none;-webkit-backface-visibility:hidden}.flexslider .slides
img{width:100%;display:block}.flex-pauseplay
span{text-transform:capitalize}.slides:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}html[xmlns] .slides{display:block}* html
.slides{height:1%}.no-js .slides>li:first-child{display:block}